 body{
    background-color: beige;
 }
 /* h1 {
    color: rebeccapurple ;
    text-align: center;
 }
 p {
    font-family: Arial;
    font-size: 56px;
 }
 img{
    width: 500px;
    height: 500px;
 } */
  .first-heading{
    color: rebeccapurple;
    background-color: aqua;
    text-align: center;
  }
  .second-heading{
    color: red;
    background-color: aquamarine;
    text-align: center;
  }
  .third-heading {
    color: green;
    background-color: red;
    text-align: center;
  }
  .fourth-heading {
    color: brown;
    background-color:blue;
    text-align: center;
  }
  .first-para{
    color: blue;
    background-color:gold ;
    font-size: 20px;
    font-family: Arial;
  }
  .second-para{
    color:aquamarine;
    background-color: antiquewhite;
    font-family: cursive;
    font-size: 20px;}
     .third-para{
        color: aquamarine;
        background-color: yellowgreen;
        font-family: Times New Roman;
        font-size: 50PX;
     }
     .fourth-para{
      color: blueviolet;
      background-color: azure;
      font-family:Franklin Gothic Medium;
      font: size 67px;
     }
     .first-img{
        width: 300px;
        height: 300px;
     }
     .second-img{
        width: 400px;
        height: 400px;
     }
     .third-img{
        width: 500px;
        height:500px;
     }
     .fourth-img{
        width: 600px;
        height: 600px;
     }
     


  